body, body > * {
  --black: #000000;
  --bg0: #0c0c0c;
  --bg1: #1b1b1b;
  --bg2: #272727;
  --bg3: #3d3d3d;
  --box-bg: #1a1932;
  --box-border: #92a1b9;
  --box-inset: #2a2f4e;
  --text: #FFFFFF;
  --sub: #b4b4b4;
  --min: #858585;
  --divider: #5d5d5d;
  --sidebar-width: 400px;
  --scourged1: #93388f;
  --scourged2: #ca52c9;
  --locked1: #bf6f4a;
  --locked2: #e69c69;
  --font: 'Rubik', 'Montserrat', 'Roboto', 'Arial', sans-serif;
  --font-mono: 'Source Code Pro', 'Roboto Mono', monospace;
  --fw-normal: 400;
  --fw-bold: 700;
}

/* */
* {
  color: var(--text);
  font-family: var(--font);
  font-weight: var(--fw-normal);
}

html, body, #app, #context-menu-cont {
  background-color: var(--backpage);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* */
#app {
  background-color: var(--bg1);
  overflow: auto;
}

#clipboard {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

/* */
.align-center {
  text-align: center !important;
  display: block;
}

.align-left {
  text-align: left !important;
  display: block;
}

.align-right {
  text-align: right !important;
  display: block;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

/* */
#context-menu-cont {
  background-color: transparent !important;
  position: fixed !important;
  pointer-events: none;
  z-index: 1000;
  visibility: hidden;
}

#context-menu-cont.active {
  visibility: visible;
}

#context-menu-cont #context-menu {
  position: absolute;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--bg0);
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: all;
  -webkit-box-shadow: 0 4px 5px #00000077;
          box-shadow: 0 4px 5px #00000077;
}

#context-menu-cont #context-menu .option {
  text-decoration: none;
  cursor: pointer;
  background: var(--bg0);
  border-radius: 2px;
  padding: 8px;
  color: var(--sub);
  font-size: 11pt;
}

#context-menu-cont #context-menu .option:hover {
  background: var(--bg1);
  color: var(--text);
}

#context-menu-cont #context-menu .option:not(:last-child) {
  margin-bottom: 2px;
}

#sidebar-cont {
  position: fixed;
  width: calc(var(--sidebar-width) - 60px);
  z-index: 101;
}

.sidebar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.1s opacity ease-out, 0.3s -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.1s opacity ease-out, 0.3s -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.1s opacity ease-out, 0.3s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.1s opacity ease-out, 0.3s transform cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.3s -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar.out {
  opacity: 0;
  pointer-events: none;
}

.sidebar.out.down {
  -webkit-transform: translateY(2vh);
          transform: translateY(2vh);
}

.sidebar.out.up {
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
}

#logo {
  display: block;
  width: 80%;
  margin: auto;
  padding: 0 0 30px 0;
}

#itemdetails-sidebar .imgcont {
  height: calc(var(--sidebar-width) - 60px);
}

#itemdetails-sidebar .imgcont img {
  --scale: 3;
  -webkit-transform: scale(3);
          transform: scale(3);
}

#itemdetails-sidebar .imgcont img:active {
  --scale: 2.9;
}

#itemdetails-sidebar .iteminfo {
  border: 3px solid var(--cc1);
}

#itemdetails-sidebar .iteminfo.scourged {
  --cc1: var(--scourged1);
  --cc2: var(--scourged2);
}

#itemdetails-sidebar .iteminfo.locked {
  --cc1: var(--locked1);
  --cc2: var(--locked2);
}

#itemdetails-sidebar .iteminfo .title {
  font-size: 14pt;
  font-weight: var(--fw-bold);
  color: var(--cc2);
  display: block;
  margin-bottom: 5px;
}

#itemdetails-sidebar .iteminfo .desc {
  color: var(--sub);
}

#content-cont {
  display: block;
  padding-left: var(--sidebar-width);
}

#content {
  position: relative;
  display: block;
}

#itemlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

#itemlist:not(.used) {
  pointer-events: none;
  opacity: 0;
}

.bkitem {
  margin: 10px !important;
  width: 140px;
  text-decoration: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: background .1s ease-out, -webkit-transform .1s ease-out, -webkit-box-shadow .1s ease-out;
  transition: background .1s ease-out, -webkit-transform .1s ease-out, -webkit-box-shadow .1s ease-out;
  transition: transform .1s ease-out, background .1s ease-out, box-shadow .1s ease-out;
  transition: transform .1s ease-out, background .1s ease-out, box-shadow .1s ease-out, -webkit-transform .1s ease-out, -webkit-box-shadow .1s ease-out;
}

.bkitem:hover, .bkitem.focus {
  background: var(--bg3);
  -webkit-box-shadow: 0 5px 7px #00000044;
          box-shadow: 0 5px 7px #00000044;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#itemdetails {
  position: fixed;
  --padleft: calc(var(--sidebar-width) + 10px);
  top: 0;
  left: 0;
  width: calc(100% - 50px - var(--padleft));
  height: calc(100% - 20px);
  padding: 10px 10px 10px var(--padleft);
  overflow: auto;
  pointer-events: all;
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

#itemdetails:not(.used) {
  pointer-events: none;
  opacity: 0;
}

#itemdetails .itemdesc {
  display: block;
}

#itemdetails ul, #itemdetails .uses-list, #itemdetails .content, #itemdetails ol {
  display: block;
  margin: 0;
  padding: 10px 25px 0 25px;
  font-size: 14pt;
}

#itemdetails .uses-list {
  padding: 10px 0 0 0;
}

#itemdetails .content {
  padding: 0;
}

#itemdetails .content *:first-child {
  margin-top: 0;
}

#itemdetails .content *:last-child {
  margin-bottom: 0;
}

.imgcont {
  height: 100px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgcont img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.box {
  display: block;
  padding: 20px;
  background: var(--bg2);
  border-radius: 5px;
  font-size: 12pt;
  -webkit-box-shadow: 0 3px 4px #00000055;
          box-shadow: 0 3px 4px #00000055;
  margin-bottom: 20px;
}

h2 {
  font-size: 20pt;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: var(--fw-bold);
  width: 100%;
  text-align: center;
}

h3 {
  width: 100%;
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: 14pt;
  margin: 0;
}

h4 {
  width: 100%;
  text-align: center;
  font-weight: var(--fw-normal);
  font-size: 11pt;
  color: var(--sub);
  margin: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

u {
  font-size: unset;
  font-weight: unset;
  color: unset;
  padding: unset;
  margin: unset;
}

label {
  display: block;
  margin: 10px 0 4px 0;
  font-size: 12pt;
  color: var(--sub);
}

input, select {
  display: block;
  background: var(--bg0);
  border: none;
  outline: none;
  padding: 7px 11px;
  border-radius: 3px;
  font-size: 12pt;
  margin: none;
  width: calc(100% - 22px);
}

select {
  width: 100%;
  outline: none;
}

select option:first-child {
  font-weight: var(--fw-bold);
}

button, *[button] {
  background: var(--bg0);
  display: inline-block;
  padding: 12px 30px;
  margin: 20px 0;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14pt;
  color: var(--sub);
  -webkit-transition: background .2s ease, color .2s ease;
  transition: background .2s ease, color .2s ease;
}

button:hover, *[button]:hover {
  background: var(--black);
  color: var(--text);
}

b {
  font-weight: var(--fw-bold);
  color: unset;
}

.hl {
  text-decoration: none;
  color: var(--text);
}
