
body, body > * {
  --black: #000000;

  --bg0: #0c0c0c;
  // --bg0: #131313;
  --bg1: #1b1b1b;
  --bg2: #272727;
  --bg3: #3d3d3d;

  --box-bg: #1a1932;
  --box-border: #92a1b9;
  --box-inset: #2a2f4e;

  --text: #FFFFFF;
  --sub: #b4b4b4;
  --min: #858585;
  --divider: #5d5d5d;
  --sidebar-width: 400px;

  --scourged1: #93388f;
  --scourged2: #ca52c9;
  --locked1: #bf6f4a;
  --locked2: #e69c69;

  --font: 'Rubik', 'Montserrat', 'Roboto', 'Arial', sans-serif;
  --font-mono: 'Source Code Pro', 'Roboto Mono', monospace;
  --fw-normal: 400;
  --fw-bold: 700;
}

/* */

* {
  color: var(--text);
  font-family: var(--font);
  font-weight: var(--fw-normal);
}

html, body, #app, #context-menu-cont {
  background-color: var(--backpage);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* */

#app {
  background-color: var(--bg1);
  overflow: auto;
}

#clipboard {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

/* */

.align-center { text-align: center !important; display: block; }
.align-left { text-align: left !important; display: block; }
.align-right { text-align: right !important; display: block; }
.no-margin { margin: 0 !important }
.no-margin-top { margin-top: 0 !important }
.no-margin-bottom { margin-bottom: 0 !important }
.no-margin-left { margin-left: 0 !important }
.no-margin-right { margin-right: 0 !important }
.no-padding { padding: 0 !important }
.no-padding-top { padding-top: 0 !important }
.no-padding-bottom { padding-bottom: 0 !important }
.no-padding-left { padding-left: 0 !important }
.no-padding-right { padding-right: 0 !important }
.larger-text { font-size: 14pt; }
.no-deco { text-decoration: none; }
.reduced-deco:not(:hover) { text-decoration: none; }

/* */


#context-menu-cont {
  background-color: transparent !important;
  position: fixed !important;
  pointer-events: none;
  z-index: 1000;
  visibility: hidden;
  
  &.active {
    // pointer-events: all;
    visibility: visible;
  }

  #context-menu {
    position: absolute;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--bg0);
    min-width: 150px;
    display: flex;
    flex-direction: column;
    pointer-events: all;
    box-shadow: 0 4px 5px #00000077;

    .option {
      text-decoration: none;
      cursor: pointer;
      background: var(--bg0);
      border-radius: 2px;
      padding: 8px;
      color: var(--sub);
      font-size: 11pt;

      &:hover {
        background: var(--bg1);
        color: var(--text);
      }
      
      &:not(:last-child) { margin-bottom: 2px }
    }
  }
}

#sidebar-cont {
  position: fixed;
  width: calc(var(--sidebar-width) - 60px);
  z-index: 101;
}

.sidebar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  max-height: calc(100vh - 60px);
  overflow: auto;
  opacity: 1;
  transform: translateY(0);
  transition: .1s opacity ease-out, .3s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &.out {
    opacity: 0;
    pointer-events: none;

    &.down { transform: translateY(2vh) }
    &.up { transform: translateY(-2vh) }
  }

  .botrow {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

    * {
      display: inline-block;
      color: var(--min);
      text-decoration: none;
      transition: none;
    }

    a:hover {
      text-decoration: underline;
      color: var(--sub);
    }
  }

  .sidebar-flex-wrapper {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    overflow: hidden;
    flex-direction: column;

    * { 
      flex-grow: 0;
      flex-shrink: 0;
    }

    .dyn-spacer {
      flex-grow: 1;
    }
  }

  .footer {
    display: block;
    margin-top: 20px;
    font-size: 9pt;
    text-align: center;
    color: var(--min);
    opacity: .6;

    a { color: inherit; }
    a:hover { color: var(--text); }
  }
}

#logo {
  display: block;
  width: 80%;
  margin: auto;
  padding: 0 0 30px 0;
}

#itemdetails-sidebar {
  .imgcont {
    height: calc(var(--sidebar-width) - 60px);

    img {
      --scale: 3;
      transform: scale(3);

      &:active { --scale: 2.9; }
    }
  }

  .iteminfo {
    &.scourged { --cc1: var(--scourged1); --cc2: var(--scourged2); }
    &.locked { --cc1: var(--locked1); --cc2: var(--locked2); }

    border: 3px solid var(--cc1);

    .title {
      font-size: 13.5pt;
      font-weight: var(--fw-bold);
      color: var(--cc2);
      display: block;
      margin-bottom: 5px;
    }

    .desc {
      color: var(--sub);
    }
  }
}

#content-cont {
  display: block;
  padding-left: var(--sidebar-width);
}

#content {
  position: relative;
  display: block;
}

#itemlist {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 20px 0;
  opacity: 1;
  transition: opacity .2s ease;

  &:not(.used) {
    pointer-events: none;
    opacity: 0;
  }
}

.bkitem {
  margin: 10px !important;
  width: 140px;
  text-decoration: none;
  transform: translateY(0);
  transition: transform .1s ease-out,
              background .1s ease-out,
              box-shadow .1s ease-out,
              opacity .3s ease-out .5s;

  @for $i from 0 through 40 {
    &:nth-child(#{$i}) {  
      transition: transform .1s ease-out,
                  background .1s ease-out,
                  box-shadow .1s ease-out,
                  opacity .3s ease-out #{$i * .01s};
    }
  }

  &:hover, &.focus {
    background: var(--bg3);
    box-shadow: 0 5px 7px #00000044;
    transform: translateY(-2px);
  }

  body:not(.ready) & {
    opacity: 0;
  }
}

#itemdetails {
  position: fixed;
  --padleft: calc(var(--sidebar-width) + 10px);
  top: 0;
  left: 0;
  width: calc(100% - 50px - var(--padleft));
  height: calc(100% - 20px);
  padding: 10px 10px 10px var(--padleft);
  overflow: auto;
  pointer-events: all;
  opacity: 1;
  transition: opacity .2s ease;

  &:not(.used) {
    pointer-events: none;
    opacity: 0;
  }

  .itemdesc {
    display: block;

    .box.collapseable {
      overflow: hidden;
      transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                  padding .3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                  margin .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &.collapsed {
        padding: 15px 20px;
        margin-bottom: 15px;
        
        transition: height .4s cubic-bezier(0.6, 0.04, 0.98, 0.335),
                    padding .4s cubic-bezier(0.6, 0.04, 0.98, 0.335),
                    margin .4s cubic-bezier(0.6, 0.04, 0.98, 0.335);

        &.full {
          height: 0;
          padding: 0 20px;
          margin: 0;
          transition: none !important;
        }
      }
    }
  }

  ul, ol {
    display: block;
    margin: 0;
    padding: 10px 25px 0 25px;
    font-size: 14pt;
  }

  .uses-list, .content {
    @extend ul;
    padding: 0;

    *:first-child { margin-top: 0 }
    *:last-child { margin-bottom: 0 }
  }
}

.imgcont {
  height: 100px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    transform: scale(1.5);
    image-rendering: pixelated;
  }
}

.box {
  display: block;
  padding: 20px;
  background: var(--bg2);
  border-radius: 5px;
  font-size: 12pt;
  box-shadow: 0 3px 4px #00000055;
  margin-bottom: 20px;
}

// h1 { }

h2 {
  font-size: 20pt;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: var(--fw-bold);
  width: 100%;
  text-align: center;
}

h3 {
  width: 100%;
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: 14pt;
  margin: 0;
}

h4 {
  width: 100%;
  text-align: center;
  font-weight: var(--fw-normal);
  font-size: 11pt;
  color: var(--sub);
  margin: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

u {
  font-size: unset;
  font-weight: unset;
  color: unset;
  padding: unset;
  margin: unset;
}

label {
  display: block;
  margin: 10px 0 4px 0;
  font-size: 12pt;
  color: var(--sub);
}

input, select {
  display: block;
  background: var(--bg0);
  border: none;
  outline: none;
  padding: 7px 11px;
  border-radius: 3px;
  font-size: 12pt;
  margin: none;
  width: calc(100% - 22px);
}

select {
  width: 100%;
  outline: none;

  option:first-child { font-weight: var(--fw-bold) }
}

button, *[button] {
  background: var(--bg0);
  display: inline-block;
  padding: 12px 30px;
  margin: 20px 0;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14pt;
  color: var(--sub);
  transition: background .2s ease, color .2s ease;
  
  &:hover {
    background: var(--black);
    color: var(--text);
  }
}

b, strong {
  font-weight: var(--fw-bold);
  color: unset;
}

.hl {
  text-decoration: none;
  color: var(--text);
}

.bkstr {
  * {
    display: inline-block;
    font-weight: inherit;
    font-style: inherit;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: var(--fw-bold);
  }

  .flip {
    transform: scaleY(-1);
  }

  .blink {
    @keyframes blinkanim {
        0% { opacity: 0; }
       49% { opacity: 0; }
       51% { opacity: 1; }
      100% { opacity: 1; }
    }
    animation: blinkanim 1s linear infinite alternate-reverse;
  }

  .wave {
    @keyframes waveanim {
        0% { transform: translateY(-3px); }
      100% { transform: translateY(3px); }
    }
    @for $time from 0 to 14 {
      &:nth-child(14n + #{$time}) {
        animation-delay: #{$time / -10}s;
      }
    }
    animation: waveanim .7s ease-in-out infinite alternate-reverse;
  }

  .shake {
    @keyframes shakeanim {
        0% { transform: translate(0px, 1px); }
       20% { transform: translate(-.7px, -1px); }
       40% { transform: translate(.7px, -1px); }
       60% { transform: translate(.7px, 1px); }
       80% { transform: translate(-.7px, 0px); }
      100% { transform: translate(0px, 1px); }
    }
    @for $time from 0 to 4 {
      &:nth-child(4n + #{$time}) {
        animation-delay: #{$time * 3 / -10}s;
      }
    }
    animation: shakeanim 1.2s ease infinite;
  }

  .rainbow {
    @keyframes rainbowanim {
        0% { color: hsl(0deg, 90%, 60%); }
       10% { color: hsl(36deg, 90%, 60%); }
       20% { color: hsl(72deg, 90%, 60%); }
       30% { color: hsl(108deg, 90%, 60%); }
       40% { color: hsl(144deg, 90%, 60%); }
       50% { color: hsl(180deg, 90%, 60%); }
       60% { color: hsl(216deg, 90%, 60%); }
       70% { color: hsl(252deg, 90%, 60%); }
       80% { color: hsl(288deg, 90%, 60%); }
       90% { color: hsl(324deg, 90%, 60%); }
      100% { color: hsl(360deg, 90%, 60%); }
    }
    @for $time from 0 to 20 {
      &:nth-child(20n + #{$time}) {
        animation-delay: #{$time / -10}s;
      }
    }
    animation: rainbowanim 2s ease infinite;
  }

  // .shake {
  //   @keyframes anim {
  //     @for $p from 0 through 100 {
  //       #{$p}% { transform: translate(random(4) - 2px, random(4) - 2px); }
  //     }
  //   }
  //   animation: anim 5s linear infinite;
  // }
}